<main>
  <nav>
    <div class="nav-left">
      <a [routerLink]="['/']">Home</a>
      <a [routerLink]="['/toyOverview']">Toys</a>
      <a [routerLink]="['support']">Support</a>
      <div class="search">
        <i (click)="navToToyOverview()" class="material-icons search-btn">search</i>
        <input class="search-input" type="text" id="search" placeholder="Search"/>
      </div>
    </div>
    <div class="nav-right">
      <a [routerLink]="['cart']">Cart</a>
    </div>  
  </nav>  
  <router-outlet></router-outlet>
</main>